body{
    font-family: Cambria;
    background-color:#E0E9F1 ;
}

.baner{
    background-color:#829EB9;
    color: white;
    text-align:center;
    padding: 10px;
    float:top;
    width: 100%;
}
.right {
background-color:#B3C6D9;
    height: 400px;
    width:25%;
    float: right;

}
.left {
    background-color:#B3C6D9;
    height: 400px;
    width:25%;
    padding: 20px;
    float:left;

}
.footer{
text-align: center;
    height:10px;
    background-color:#829EB9;
    float:bottom;
}
.section{
    width:100%
}