body{
    font-family: Cambria, serif;
}
#baner, #stopka{
    background-color: #829EB9;
    text-align: center;
    padding: 10px;
    clear: both;
}
#lewy, #prawy{
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    float: left;
}
#środkowy{
    background-color: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    float: left;
}
table{
    width: 80%;
    margin: auto;
    border: 1px DimGray;
}
td,th{
    border: 1px DimGray;
}

image {
    width: 100%;

}